@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Hurricane&family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    margin: 0 auto;
    width: 100%;
}
header{
    position: fixed;
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: 80px;
}
#title {
    padding-top: 5px;
    font-family: 'Rye', cursive;
    text-align: center;
    font-size: 1.5em;
}

#em{
    text-decoration: overline;
    font-size: 1.6em;
    text-shadow: 0px 0px  20px rgb(122, 122, 122);
}
#img-div {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    
}
#img-akira {
    display: block;
    width: 1000px;
    margin: 0 auto;

} 
#description {
    display: block;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    font-size: 24px;
    text-align: justify;
}
#description::first-letter {
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    margin-bottom: 20px;
}

#info {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 24px;
    padding-bottom: 30px;
    text-align: justify;
}
em{
    
        font-weight: bold;
    font-style: italic;
}
#info::first-letter {


    font-size: 3rem;

}
.d {
    position: relative;
    display: inline-block;
    font-size: 64px;
    text-indent: 20px;
    font-weight: 900;
    margin: -5px;
}
.box-tributo1 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 24px;
    padding-top: 20px;
    text-align: justify;
}
h2 {
    text-align: center;
    color: darkgreen;
    font-size: 32px;
    padding-bottom: 10px;
    margin-top: 0%;
}

.box-tributo1 p {
    padding-top: 20px;
    padding-bottom: 20px;
}
#yusuke {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    padding-bottom: 5px;
}
.fuente {
    margin: 0 auto;
    width: 280px;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}
#onpiece {
    margin-bottom: -10px;
}
.fuenteonpiece {
    display: block;
    margin: 0 auto;
    width: 280px;
    margin-top: -20px;
    font-size: 14px;
    margin-bottom: 30px;
}

#naruto-img {
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    width: 350px;
    height: auto;
    margin: 0 auto;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(201, 201, 201);
    height: 70px;
}
li {
    font-weight: bold;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    font-style: italic;
}